
.p5Canvas {
  /* zorg dat canvas niet groter wordt dan window
     en behoud breedte x hoogte verhouding van 1280x720 
   */  
  max-width: min(100vh*1280/720, 100vw);
  max-height: min(100vw*720/1280, 100vh);
  
  /* zet canvas in het midden
   */ 
  display:block;
  margin: auto;
}

html, body {
  /* verwijder marge tussen canvas en rand van window
   */ 
  margin: 0px;
}

#timer {
  position: absolute;
  right: 20%;
  color: white;
  font-size: xx-large;
}

#score {
  position: absolute;
  left: 20%;
  color: white;
  font-size: xx-large;
}

#highscore {
  position: absolute;
  top: 5%;
  left: 20%;
  color: white;
  font-size: xx-large;
}

.show {
  display: block;
}

.noShow {
  display: none;
}


